Source: libopcuacore
Priority: extra
Maintainer: Alexander Rykovanov <rykovanov.as@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/treww/opcua-core
Vcs-Git: https://github.com/treww/opcua-core.git

Package: libopcuacore-dev
Section: libdevel
Architecture: amd64 i386
Depends: libopcuacore (= ${binary:Version}), libboost-system-dev, libboost-filesystem-dev, opcuamappings-dev (>= 0.2.0)
Description: OPCUA core infrastructure developer files.

Package: libopcuacore
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, opcuamappings (>= 0.2.0)
Description: OPCUA core infrastructure.

